$lazure: #41f6d7;
$lazureLight: #d9fff5;
$grey: #7e7e82;
$greyLight: #eaeaea;
$whiteDirt: #f8f8f8;
$lazureWhite: #b8ffec;
$white: #ffffff;
$black: #1b1c21;
$raspberry: #ff3e79;
$shadowGrey: #0e185033;
$shadowGreyTransparent: rgba(248, 248, 248, 0.1);
$asphaltLight: #dddddd;
$asphalt: #b5b6bc;
